/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html,
body {
  height: 100%;
}


#test-swipe-3 {
  height: 100% !important;
  background-color: blue !important;
}

#test-swipe-1{
  height: 100% !important;
  background-color: black !important;
  color: white;
}
#test-swipe-2{
  height: 100% !important;
  background-color: green !important;
}
.tabs-content.carousel.carousel-slider {
  height: 93% !important;
}

#searchbar{
	color: white !important;
}

.collection-item{
	color: black !important;
}

.tabs {
  height: 7%;
}